<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="center-div">
        <div class="centerh-div">
          <h2>Posts</h2>
        </div>
        <table>
          <thead>
            
          </thead>
          <tbody id="tbody2">
            <tr>
              <td>E-mail</td>
              <td><input type="text" id="id2" name="id2"></td>
            </tr>
            <tr>
              <td>Senha</td>
              <td><input type="text" id="id3" name="id3"></td>
            </tr>
              
          </tbody>
        </table>
        <img src="send.png" alt="" onclick="login()" width="60" height="60">
      </div>
      <a class="space" href="javascript:logout()">Logout</a>
      
</body>
    <script src="../index.js"></script>
</html>