<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../style.css" />
</head>

<body>
  <div class="center-div">
    <div class="centerh-div">
      <h2>Cadastrar Pessoa</h2>
    </div>
    <table>
      <thead>
        
      </thead>
      <tbody id="tbody2">
        <tr>
          <td>Nome</td>
          <td><input type="text" id="id1"></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><input type="text" id="id2"></td>
        </tr>
        <tr>
          <td>Senha</td>
          <td><input type="text" id="id3"></td>
        </tr>
      </tbody>
    </table>
    <img src="send.png" alt="" onclick="send()" width="60" height="60">
  </div>
  <a class="space" href="login.html">Login</a>
  <a href="javascript:teste()">teste</a>
  
  
</body>
<script src="../index.js"></script>

</html>